@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap');
@import "tailwindcss";

:root {
    --background: #0c0c11;
    --background-landing: #0C0C11;
    --background-footer: rgb(14, 16, 21);
    --foreground: #ededed;
    --foreground-grey: rgb(176, 176, 176);
    --foreground-alt: #FFDD00;
    --foreground-search: #ffffff;
    --color-main-bg: #1d202b;
    --color-container-bg: rgb(19, 19, 27);
    --chart-range-hover: #35374a;
    --x-axis-text-color: var(--foreground);
    --y-axis-text-color: var(--foreground);
    --background-hover: #1a1a20ff;
    --background-search: #1e293b;
    --background-search-hover: #0f172a;
    --background-hover: #2e303c;
    --background-filter: #1a1d29;
    --background-filter-fields: #2d3240;
    --background-watchlist-card: #181f29ff;
    --background-watchlist-card-hover: #374151;

    --border-button-category: #b6b6deff;
    --background-button-category-hover: #42425cff;
    --background-button-category-hover-text: var(--foreground);

    --background-section-category-active: #25253eff;
    --background-section-border-category-active: #2d2d3fff;
    --background-section-category: #303039ff;
    --background-section-category-hover: #232330ff;

    --auth-background: #15171E;

    --background-toolbar-active: #23252c;
    --background-tradepanel-alt: var(--foreground-alt);
    --background-tradepanel-inactive: #23252c;
    --foreground-tradepanel-active: #000000;
    --foreground-tradepanel-inactive: var(--foreground);

    --foreground-about: var(--foreground);
    --foreground-about-border: var(--foreground-alt);

    --background-details-input: rgba(255,255,255,0.08);
    --background-details-display: rgba(255,255,255,0.08);

    --coinmarket-hover: rgb(32, 32, 44);

    --color-green: #4caf50;
    --color-red: #ff0000;
    --color-red-hover: rgb(220, 26, 26);
    --color-red-light: #ff0000;
    --color-blue: #3B82F6;

    --news-dot-active: #dadadaff;
    --news-dot-inactive: rgba(255, 255, 255, 0.3);
    --news-dot-hover: #525252ff;
    --news-dot-hover-inactive: rgba(255, 255, 255, 0.5);

    --tradepanel-background: #0e1117;
    --tradepanel-buttons: #FFDD00;
    --tradepanel-buttons-inactive: #262b35;

    --landing-alt: #e9ca00;

    --simulator-wallet-coins: #15171f;
    --simulator-wallet-coins-hover: #1b1e27;
}

.light {
    --background: #fdffff;
    --background-footer: rgb(172, 199, 220);
    --foreground: #000000;
    --foreground-grey: rgba(26, 26, 26, 0.753);
    --foreground-alt: #21335e;
    --foreground-search: #ffffff;
    --chart-range-hover: rgb(219, 226, 242);

    --color-red: #f73636;
    --color-red-hover: rgb(207, 22, 22);
    --color-red-light: #ff9a9a;
    --color-green: #206d22;
    --color-blue: #0b3893;

    --x-axis-text-color: #00000040;
    --y-axis-text-color: #00000040;

    --color-main-bg: rgb(209, 222, 244);
    --color-container-bg: rgb(235, 246, 255);
    --background-hover: rgb(205, 219, 239);
    --background-search: rgb(104, 137, 167);
    --background-search-hover: rgb(83, 117, 146);
    --background-hover: rgb(221, 230, 244);
    --background-filter: rgb(241, 244, 249);
    --background-filter-fields: rgb(205, 219, 239);
    --background-watchlist-card: rgb(213, 234, 250);
    --background-watchlist-card-hover: rgb(203, 228, 247);

    --border-button-category: rgb(62, 62, 97);
    --background-button-category-hover: rgb(126, 143, 183);
    --background-button-category-hover-text: rgb(255, 255, 255);

    --background-section-category-active: rgb(188, 217, 241);
    --background-section-border-category-active: #2d2d3fff;
    --background-section-category: rgb(229, 237, 243);
    --background-section-category-hover: rgb(165, 196, 220);

    --auth-background: #cbd9e8;

    --background-toolbar-active: rgb(179, 205, 226);
    --background-tradepanel-alt: rgb(179, 205, 226);
    --background-tradepanel-inactive: rgb(222, 232, 240);
    --foreground-tradepanel-active: #000000;
    --foreground-tradepanel-inactive: #868686;

    --foreground-about: #21335e;
    --foreground-about-border: #afbfda;
    
    --background-details-display: #ccd6ed;

    --coinmarket-hover: #d9e4f1;

    --news-dot-active: #232323;
    --news-dot-inactive: rgba(0, 0, 0, 0.18);
    --news-dot-hover: #525252;
    --news-dot-hover-inactive: rgba(0, 0, 0, 0.32);

    --tradepanel-background: rgb(218, 235, 248);
    --tradepanel-buttons: rgb(68, 115, 160);
    --tradepanel-buttons-inactive: rgb(183, 200, 218);

    --landing-alt: #0630ae;

    --simulator-wallet-coins: rgb(220, 235, 248);
    --simulator-wallet-coins-hover: rgb(216, 236, 251);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Geologica', sans-serif;
}

.btn-primary {
    @apply w-64 px-6 py-2 rounded-3xl font-mono font-semibold;
    background: var(--foreground-alt);
    color: var(--foreground);
    border: none;
}

.navbar-text {
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
} 

.sidebar {
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.landing-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 4100px;
}

html.light .landing-bg {
  background-image: url('/images/landingbglight.png');
}

html.dark .landing-bg {
  background-image: url('/images/landingbg.png');
}

/* Styles for dashboard page */
.headline {
    display: flex;
    font-size: 1.8rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    margin-top: 8.5rem;
    color: var(--foreground);
}

.titreHeadline {
    font-weight: 400;
    margin-top: 4rem;
    margin-left: 3rem;
    text-align: center;
    font-size: larger;
    color: var(--foreground);
}

.titreSubHeadline {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 3rem;
    text-align: center;
    font-size: 25px;
    color: var(--foreground);
}


/* Styles for account page */
.title {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 2.5rem;
    margin-left: 3rem;
    color: var(--foreground);
}

.main {
    background-color: var(--color-container-bg);
    margin-left: 2rem;
    width: max-content;
    height: 95%;
    overflow-x: hidden;
    color: var(--foreground);
}

.personalInfoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    opacity: 0.2;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
    width: 95%;
}

.personInfo {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.infoTitles {
    font-size: 16px;
}

.infoText {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 40%;
}

.nameFields {
    display: flex;
    justify-content: space-between;
    /* gap: 12rem; */
}

.inputField {
    background-color: var(--background-details-input);
    color: var(--foreground);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width: 13rem;
    margin-top: 0.5rem;
}

.inputEmailField{
    background-color: var(--background-details-input);
    color: var(--foreground);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    width: 100%;
}

.inputProfileField{
    background-color: var(--background-details-input);
    color: var(--foreground);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width: 18rem;
    margin-top: 0.5rem;
}

.nameDisplay {
    background-color: var(--background-details-display);
    color: var(--foreground);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width: 13rem;
    margin-top: 0.5rem;
}

.emailDisplay {
    background-color: var(--background-details-display);
    color: var(--foreground);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width: 100%;
    margin-top: 0.5rem;
}

.profileInfoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.profileInfo{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.profileDisplay{
    background-color: var(--background-details-display);
    color: var(--foreground);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width: 18rem;
    margin-top: 0.5rem;
}

/* Scroll Bar pour Landing page */
.rounded-scrollbar::-webkit-scrollbar {
    width: 16px;
    border-radius: 9999px;
    background: transparent;
}

.rounded-scrollbar::-webkit-scrollbar-thumb {
    background-color: #facc15;
    border-radius: 9999px;
    border: 4px solid transparent;
    background-clip: padding-box;
}

.rounded-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 9999px;
}